@import "../../styles/utility/variables";
@import "../../styles/utility/grid";
@import "../../styles/utility/gutters";
@import "../../styles/utility/size";

.c-login-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .c-login-card {
    max-width: 60vw;

    @media(max-width: $mobile-width) {
      width: 100%;
      max-width: 100%;
    }

    .c-log-in-button {
      display: grid;
    }

    .c-line-through {
      border-top: 1px solid white;
      position: relative;

      &__text {
        position: absolute;
        top: -10px;
        left: 45%;
        right: 45%;
        background: #18181B;
      }
    }

    .c-login-card-forgotten-password {
      font-size: 0.75rem;
    }

    .c-login-step {
      margin-bottom: 15px;

      i {
        margin-right: 10px;
      }

      @media(max-width: $mobile-width) {
        text-align: center;

        i {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.background-videos {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9999;

  .blackout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  video {
    min-width: 100%;
    min-height: 100%;
  }
}
